{% extends 'base.html' %}

{% block title %}
<title>Корзина</title>
{% endblock %}

{% block body %}
    <div class="breadcrumb-section">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between justify-content-md-between  align-items-center flex-md-row flex-column">
                        <h3 class="breadcrumb-title">Корзина</h3>
                        <div class="breadcrumb-nav">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/">Категории</a></li>
                                    <li class="active" aria-current="page">Корзина</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cart-section">
        <div class="cart-table-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="table_page table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product_remove">Удалить</th>
                                            <th class="product_thumb">Изображение</th>
                                            <th class="product_name">Товар</th>
                                            <th class="product-price">Цена</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in cart %}
                                        <tr>
                                            <td class="product_remove"><a href="/remove/{{ loop.index }}"><i class="fa fa-trash-o"></i></a></td>
                                            <td class="product_thumb"><a href="/category/{{ category(item.category_id) }}/item/{{ item.name }}"><img src="{{ get_item_image(item) }}" alt="None"></a></td>
                                            <td class="product_name"><a href="/category/{{ category(item.category_id) }}/item/{{ item.name }}">{{ item.name }}</a></td>
                                            <td class="product-price">{{ get_price(item) }} RUB</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="coupon_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code left">
                            <h3>Купон</h3>
                            <div class="coupon_inner">
                                <p>Введите код купона</p>
                                <form method="post">
                                    <input placeholder="Код купона" type="text" name="coupon">
                                    <button type="submit">Проверить купон</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right">
                            <h3>Итого корзины</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Итого</p>
                                    <p class="cart_amount">{{ get_nice_price(get_amount_cart(cart)) }} RUB</p>
                                </div>
                                <div class="cart_subtotal ">
                                    <p>Скидка купона {% if discount != '0' and get_discount() != 0 %} ({{ discount }}) {% endif %}</p>
                                    <p class="cart_amount">{{ get_nice_price(get_discount()) }} RUB</p>
                                </div>
                                <a></a>

                                <div class="cart_subtotal">
                                    <p>К оплате</p>
                                    <p class="cart_amount">{{ get_nice_price(get_total_cart(cart)) }} RUB</p>
                                </div>
                                <div class="checkout_btn">
                                    <a href="/checkout">Оплатить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}