{% extends 'base.html' %}

{% block title %}
<title>Успешная покупка!</title>
{% endblock %}

{% block body %}
<div class="about-us-top-area section-top-gap-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% for i in get_cart_for_checkout %}
                <div class="about-us-top-content text-center">
                    <p>{{ i }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}